.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compra {
    border-radius: 10px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: ridge;
    padding: 15px;
    background: rgb(240, 255, 254);
}
.check {
    border-color: rgb(114, 114, 114);
    border-width: 1px;
    border-style:inset;
    border-radius: 10px;
    padding: 4px;

}

.form-select{
    border-radius: 10px;
    padding: 2px;
}

.btn-primary {
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff0066 0%, #3333ff 100%);
}

.btn-primary:hover{
    box-shadow: 0 0 1em aqua;
}

#qtd_hospedes {
    border-radius: 10px;
    padding: 4px;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

.card-body {
    color: black;
}


